.container {
    margin: 10px;
    height:100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.program {
    width: 10%;
    float: left;
    height: 100%;
}

.program textarea {
    width: 97%;
    height: 50%;
    border: 1px solid gray;
}

.toolbox {
    width: 90%;
    float: right;
    height: 100%;
}

.toolbox fieldset {
    display: block;
    border: 1px solid gray;
    display: inline-block;
    margin: 0px 0px 10px 5px;
    width: 60%
}

.output {
    width: 99%;
}

.input-wrapper {
    padding: 10px 10px 10px 10px;
    float: inside;
    width: 100%;
}
.input-wrapper label {
    float: left;
    width: 30%;
}
.input-wrapper input {
    float: inside;
    width: 30%;
}
.input-wrapper button {
    float: right;
    width: 30%;
    margin-right: 10px
}
.toolbox select {
    width: 97%;
    margin: 10px;
}
.dump {
    display: inline-block;
    width: 100%;
    height: 50%;
    border: 1px greenyellow solid;
    background: black;
    vertical-align:top;
}

.dump p {
    color: lawngreen;
}

.output {
    display: inline-block;
    width: 100%;
    height: 49%;
    border: 1px black solid;
    background: white;
    vertical-align:bottom;
}

#read-input-fieldset {
    background-color: red;
}

fieldset.disabled-input {
    display: none;
}